-r https://github.com/hasadna/open-bus-stride-etl/raw/dc702c32aed068a03b2137174bce4cc4e922da0b/requirements.txt
https://github.com/hasadna/open-bus-stride-etl/archive/dc702c32aed068a03b2137174bce4cc4e922da0b.zip
