-r https://github.com/hasadna/open-bus-siri-requester/raw/f9b217c42f3df8b6d8bc8d6de3f04b5a70336ff4/requirements.txt
-r https://github.com/hasadna/open-bus-stride-db/raw/82874ffced00e9b19b426354c16596d62bbe7155/requirements.txt
-r https://github.com/hasadna/open-bus-siri-etl/raw/c466d78bddc02f3ac3cc7a4857aab106eda63dec/requirements.txt
https://github.com/hasadna/open-bus-siri-requester/archive/f9b217c42f3df8b6d8bc8d6de3f04b5a70336ff4.zip
https://github.com/hasadna/open-bus-stride-db/archive/82874ffced00e9b19b426354c16596d62bbe7155.zip
https://github.com/hasadna/open-bus-siri-etl/archive/c466d78bddc02f3ac3cc7a4857aab106eda63dec.zip
