-r https://github.com/hasadna/open-bus-siri-requester/raw/2f4400955b1f7f5e20a808b44cb77f7f4b81c28a/requirements.txt
-r https://github.com/hasadna/open-bus-stride-db/raw/f599fa36a57a4aae9449e5b3905b4971ef30d34c/requirements.txt
-r https://github.com/hasadna/open-bus-siri-etl/raw/f989c1e8d1968f0bf3a0558aa945e41549e163f5/requirements.txt
https://github.com/hasadna/open-bus-siri-requester/archive/2f4400955b1f7f5e20a808b44cb77f7f4b81c28a.zip
https://github.com/hasadna/open-bus-stride-db/archive/f599fa36a57a4aae9449e5b3905b4971ef30d34c.zip
https://github.com/hasadna/open-bus-siri-etl/archive/f989c1e8d1968f0bf3a0558aa945e41549e163f5.zip
