-r https://github.com/hasadna/open-bus-gtfs-etl/raw/33f9068e2a7dfb9bb5a15b4d3da690624808e2d8/requirements.txt
https://github.com/hasadna/open-bus-gtfs-etl/archive/33f9068e2a7dfb9bb5a15b4d3da690624808e2d8.zip
